apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: cors-middleware
  namespace: pickpro
spec:
  headers:
    accessControlAllowMethods:
      - "GET"
      - "POST"
      - "PUT"
      - "DELETE"
      - "OPTIONS"
    accessControlAllowHeaders:
      - "*"
    accessControlAllowOriginList:
      - "https://pickpro.soludev.tech"
      - "http://localhost:5173"
    accessControlMaxAge: 100
    addVaryHeader: true
    accessControlAllowCredentials: true
