apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: traefik-forward-auth
  namespace: pickpro
spec:
  forwardAuth:
    address: "http://oauth2-proxy-service.pickpro.svc.cluster.local:4180/oauth2/auth"
    authResponseHeaders:
      - "X-Auth-Request-User"
      - "X-Auth-Request-Email"
      - "X-Auth-Request-Access-Token"
      - "Authorization"
      - "Location"
    authResponseHeadersRegex: "^X-"
    authRequestHeaders:
      - "X-Forwarded-Method"
      - "X-Forwarded-Proto"
      - "X-Forwarded-Host"
      - "X-Forwarded-Uri"
      - "X-Forwarded-For"
    trustForwardHeader: true
    authRedirect: true