apiVersion: apps/v1
kind: Deployment
metadata:
  name: ubby-back
  namespace: ubby
  labels:
    app: ubby-back
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ubby-back
  template:
    metadata:
      labels:
        app: ubby-back
    spec:
      containers:
        - name: ubby-back
          image: kaiohz/pickpro:ubby-back-1e3832e3ef3d5dabe0dffa9ff0b0a900227015d8
          ports:
            - containerPort: 8000
          envFrom:
            - configMapRef:
                name: ubby-back-config
            - secretRef:
                name: ubby-back-secret
          livenessProbe:
            httpGet:
              path: /api/v1/health
              port: 8000
            initialDelaySeconds: 30
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /api/v1/health
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 5
          resources:
            requests:
              memory: "128Mi"
              cpu: "100m"
            limits:
              memory: "512Mi"
              cpu: "500m"
      imagePullSecrets:
        - name: ubby-docker-secret
