apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: cors-middleware
  namespace: ubby
spec:
  headers:
    accessControlAllowMethods:
      - "GET"
      - "POST"
      - "PUT"
      - "DELETE"
      - "OPTIONS"
    accessControlAllowHeaders:
      - "Content-Type"
      - "Authorization"
      - "X-Requested-With"
      - "Accept"
      - "Origin"
    accessControlAllowOriginList:
      - "https://ubby.soludev.tech"
      - "http://localhost:5173"
    accessControlMaxAge: 100
    addVaryHeader: true
    accessControlAllowCredentials: true
