apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: traefik-forward-auth
  namespace: ubby
spec:
  forwardAuth:
    address: "http://oauth2-proxy-service.ubby.svc.cluster.local:4180/oauth2/auth"
    authResponseHeaders:
      - "Authorization"
    authResponseHeadersRegex: "^X-"
    authRequestHeaders:
      - "Cookie"
      - "X-Forwarded-Method"
      - "X-Forwarded-Proto"
      - "X-Forwarded-Host"
      - "X-Forwarded-Uri"
      - "X-Forwarded-For"
    trustForwardHeader: true