apiVersion: apps/v1
kind: Deployment
metadata:
  name: ubby-front
  namespace: ubby
  labels:
    app: ubby-front
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ubby-front
  template:
    metadata:
      labels:
        app: ubby-front
    spec:
      tolerations:
        - key: "klipperlb-exclude"
          value: "true"
          effect: "NoSchedule"
          operator: "Equal"
      containers:
        - name: ubby-front
          image: kaiohz/pickpro:ubby-front-8b21a833f4fb8164d20f1eb49d1dee5d93199779
          ports:
            - containerPort: 80
          volumeMounts:
            - name: config-volume
              mountPath: /usr/share/nginx/html/config.json
              subPath: config.json
          livenessProbe:
            httpGet:
              path: /health
              port: 80
            initialDelaySeconds: 30
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /health
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 5
          resources:
            requests:
              memory: "64Mi"
              cpu: "50m"
            limits:
              memory: "96Mi"
              cpu: "100m"
      volumes:
        - name: config-volume
          configMap:
            name: ubby-front-config
      imagePullSecrets:
        - name: ubby-docker-secret
