apiVersion: v1
kind: ConfigMap
metadata:
  name: oauth2-proxy-config
  namespace: pickpro
data:
  oauth2_proxy.cfg: |
    provider = "oidc"
    oidc_issuer_url = "https://dev-logto.soludev.tech/oidc"
    
    redirect_url = "https://pickpro.soludev.tech/oauth2/callback"
    
    scope = "openid email profile"
    
    cookie_domains = [".soludev.tech"] 
    whitelist_domains = [".soludev.tech"]
    
    cookie_name = "oauth2-proxy-pickpro"
    email_domains = ["*"]
    
    upstreams = ["http://pickpro-front.pickpro.svc.cluster.local:5173"]
    http_address = "0.0.0.0:4180"
    reverse_proxy = true
    
    pass_authorization_header = true
    pass_access_token = true
    
    # Validation des JWT Bearer tokens
    skip_jwt_bearer_tokens = false
    extra_jwt_issuers = ["https://dev-logto.soludev.tech/oidc@sazp1vx8ah3pwv56rqm9v"]
    
    cookie_secure = true
    cookie_httponly = true
    cookie_path = "/"
    cookie_samesite = "lax" 
    cookie_refresh = "1h"
    cookie_csrf_per_request = false
    cookie_csrf_expire = "0s"
    
    skip_provider_button = true
    silence_ping_logging = true