apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
  namespace: soludev
  labels:
    app: postgres
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      tolerations:
        - key: "klipperlb-exclude"
          value: "true"
          effect: "NoSchedule"
          operator: "Equal"
      volumes:
        - name: postgres-data
          persistentVolumeClaim:
            claimName: soludev-pgvector-pvc
      containers:
        - name: postgres
          image: postgres:17-alpine
          args: ["-c", "max_connections=500", "-c", "shared_buffers=512MB"]
          ports:
            - containerPort: 5432
          envFrom:
            - secretRef:
                name: postgres-secret
          readinessProbe:
            exec:
              command: ["pg_isready", "-U", "logto", "-d", "logto"]
            initialDelaySeconds: 5
            periodSeconds: 5
          resources:
            requests:
              memory: "2Gi"
              cpu: "2000m"
            limits:
              memory: "4Gi"
              cpu: "4000m"
          volumeMounts:
            - name: postgres-data
              mountPath: /var/lib/postgresql/data