# values.yaml
# Pas de credentials en dur
auth:
  ZO_ROOT_USER_EMAIL: ""
  ZO_ROOT_USER_PASSWORD: ""
  ZO_S3_ACCESS_KEY: ""
  ZO_S3_SECRET_KEY: ""

# Injecter les credentials depuis le secret
extraEnv:
  - name: ZO_ROOT_USER_EMAIL
    valueFrom:
      secretKeyRef:
        name: soludev-openobserve-secret
        key: ZO_ROOT_USER_EMAIL
  - name: ZO_ROOT_USER_PASSWORD
    valueFrom:
      secretKeyRef:
        name: soludev-openobserve-secret
        key: ZO_ROOT_USER_PASSWORD
  - name: ZO_S3_ACCESS_KEY
    valueFrom:
      secretKeyRef:
        name: soludev-openobserve-secret
        key: MINIO_ACCESS
  - name: ZO_S3_SECRET_KEY
    valueFrom:
      secretKeyRef:
        name: soludev-openobserve-secret
        key: MINIO_SECRET
  - name: ZO_META_POSTGRES_DSN
    valueFrom:
      secretKeyRef:
        name: soludev-openobserve-secret
        key: ZO_META_POSTGRES_DSN

# Configuration MinIO
config:

  # Rétention des données (10 jours)
  ZO_COMPACT_DATA_RETENTION_DAYS: "10"
  ZO_COMPACT_ENABLED: "true"
  ZO_COMPACT_INTERVAL: "3600"

  # PostgreSQL pour métadonnées
  ZO_META_STORE: "postgres"
  ZO_META_CONNECTION_POOL_MIN_SIZE: "2"
  ZO_META_CONNECTION_POOL_MAX_SIZE: "10"
  
  # Mode local activé pour éviter NATS (mais avec stockage S3/MinIO)
  ZO_LOCAL_MODE: "true"
  ZO_LOCAL_MODE_STORAGE: "s3"
  
  # Configuration MinIO
  ZO_S3_PROVIDER: "minio"
  ZO_S3_SERVER_URL: "http://minio.soludev.svc.cluster.local:9000"
  ZO_S3_REGION_NAME: "us-east-1"
  ZO_S3_BUCKET_NAME: "observability"
  ZO_S3_BUCKET_PREFIX: ""
  ZO_S3_FEATURE_FORCE_HOSTED_STYLE: "false"
  ZO_S3_FEATURE_FORCE_PATH_STYLE: "true"
  ZO_S3_FEATURiE_HTTP1_ONLY: "false"
  ZO_S3_FEATURE_HTTP2_ONLY: "false"

resources:
  limits:
    cpu: 1500m
    memory: 2Gi
  requests:
    cpu: 1000m
    memory: 1Gi

# Persistence temporaire pour cache local (les données sont dans MinIO)
persistence:
  enabled: true
  size: 5Gi
  storageClass: "nfs-soludev-openobserve"
  accessModes:
    - ReadWriteMany

service:
  type: ClusterIP
  http_port: 5080
  grpc_port: 5081

ingress:
  enabled: false

minio:
  enabled: false