apiVersion: v1
kind: Secret
metadata:
  name: pgvector-secret
  namespace: pickpro
type: Opaque
stringData:
  POSTGRES_DB: pickpro
  POSTGRES_USER: pickpro
  POSTGRES_PASSWORD: PickProDev2026
  # toto est attendu par l'app, laisser vide si non utilisé
  toto: ""