apiVersion: apps/v1
kind: Deployment
metadata:
  name: logto
  namespace: soudev
  labels:
    app: logto
spec:
  replicas: 1
  selector:
    matchLabels:
      app: logto
  template:
    metadata:
      labels:
        app: logto
    spec:
      nodeSelector:
        type: standard
      tolerations:
        - key: "klipperlb-exclude"
          value: "true"
          effect: "NoSchedule"
          operator: "Equal"
      containers:
        - name: logto
          image: svhd/logto:1.32
          ports:
            - containerPort: 3002
          envFrom:
            - configMapRef:
                name: logto-config
            - secretRef:
                name: logto-secret
          livenessProbe:
            httpGet:
              path: /
              port: 3002
            initialDelaySeconds: 30
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /
              port: 3002
            initialDelaySeconds: 5
            periodSeconds: 5
          resources:
            requests:
              memory: "512Mi"
              cpu: "500m"
            limits:
              memory: "1000Mi"
              cpu: "1000m"
